<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="/javascripts/scriptChat.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>